<div class="modal-header">
    <h4 class="modal-title">Login Form</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="" [formGroup]="loginForm" novalidate>
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <p class="lead fw-normal mb-0 me-3">Sign in with</p>
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fa fa-facebook"></i>
          </button>
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fa fa-twitter"></i>
          </button>
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fa fa-linkedin"></i>
          </button>
        </div>
        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0">Or</p>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3">Email address</label>
            <input type="email" id="emailId" class="form-control form-control-lg" formControlName="emailId" placeholder="Enter a valid email address"/>
            <div *ngIf="loginForm.controls['emailId'].invalid && loginForm.controls['emailId'].touched" class="alert alert-danger">
                Please enter the correct required value.
            </div>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3">Password</label>
            <input type="password" id="password" class="form-control form-control-lg" formControlName="password" placeholder="Enter the password"/>
            <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="alert alert-danger">
                Please enter the correct password.
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <!-- Checkbox -->
          <div class="form-check mb-0">
            <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
          </div>
          <a href="#!" class="text-body">Forgot password?</a>
        </div>
        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="button" class="btn btn-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()">Login</button>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>