.brand-logo {
    transition: height 0.35s, background-color 0.35s, font-size 0.35s;
    .brand-image {
        height: 55px;
    }
}
.contact-map {
    display: flex;
    .map-container {
        height: 500px;
        width: 100%;
        position: relative;
    }
}

.open-chat-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 120px;
}

.iframe-show {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
}
.moveChat {
    bottom: 502px;
}